# Bot service environment variables.
TELEGRAM_TOKEN=replace_with_real_token
APP_TELEGRAM_POLLING_ENABLED=false
APP_TELEGRAM_URL=http://127.0.0.1:65535/bot
APP_TELEGRAM_UPDATE_LISTENER_SLEEP=1s
APP_TELEGRAM_DEBUG=false
